.points {
  margin-left: 5px;
}
.points-container {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bold;
}

.question-container {
  margin: 0.5em;
}
