.submit-btn-container {
  margin: 2.5rem 1.5rem 3rem 1.5rem !important;
}

.next-question-btn,
.prev-question-btn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.quiz-content-container {
  max-width: 800px;
}

.question-list-sidebar {
  max-width: 400px;
}
