.wd-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 150px;
  max-height: 100%;
  margin: 0px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.wd-navigation li {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: red;
  text-decoration: none;
}

.wd-navigation-mobile {
  background-color: white;
  padding: 0px;
  width: 100%;
  margin: 0px;
  /* position: absolute; */
  /* top: 80px; */
  /* z-index: 998; */
  border-bottom: 1px solid rgb(206, 206, 206);
}

.wd-navigation-mobile > ul {
  list-style: none;
  height: 100%;
  gap: 2px;
  margin: 8px 12px;
  padding: 0;
}

.wd-navigation-mobile > ul > li {
  display: flex;
  gap: 12px;
  margin: 0;
  align-items: center;
}

.wd-navigation-mobile > ul > li > a {
  color: red;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

.wd-navigation-mobile > ul > li > a > i {
  width: 16px;
}
