.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(206, 206, 206) !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 12px 8px;
  border-left: 1px solid rgb(206, 206, 206) !important;
}

.wd-modules > li > ul > li {
  padding: 10px 7px;
  /* overriding so that double ellipsis for inner list items are aligned */
  padding-right: 8px;
  border-top: 1px solid rgb(206, 206, 206) !important;
  border-left: 2px solid green;
}

.wd-modules > li > ul > li:not(:first-child) p {
  margin-left: 24px;
}

.wd-modules > li > ul > li:not(:first-child) a > p {
  margin-left: 0;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules-btn-column {
  width: 250px;
  height: fit-content;
}

.wd-modules-btn-column h2 {
  /* Override bootstrap defaults for h2 */
  font-size: 18px;
  margin: 0;
}

.wd-modules-btn-column p {
  /* Override bootstrap defaults for p */
  font-size: 13px;
  color: gray;
  margin: 0;
  padding: 0;
}

.wd-modules-btn-publish {
  color: white;
  background-color: rgb(133, 212, 133);
}

.wd-modules-btn-publish:hover {
  /* Need these overrides to prevent default button hover styling */
  color: white;
  background-color: rgb(133, 212, 133);
}
