.wd-modules,
.wd-modules *:not(button) {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(206, 206, 206) !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 12px 8px;
  border-left: 1px solid rgb(206, 206, 206) !important;
}

.wd-modules > li > ul > li {
  padding: 10px 7px;
  /* overriding so that double ellipsis for inner list items are aligned */
  padding-right: 8px;
  border-top: 1px solid rgb(206, 206, 206) !important;
  border-left: 2px solid green;
}

/* These are deprecated temporarily */
/* .wd-modules > li > ul > li:not(:first-child) p {
  margin-left: 24px;
} */

/* .wd-modules > li > ul > li:not(:first-child) a > p {
  margin-left: 0;
} */

.wd-modules > li {
  margin-bottom: 20px;
}

.quiz-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
 
}

.add-quiz-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.quiz-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid rgb(206, 206, 206) !important;
  border-left: 7px solid green;
}

.quiz-title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.publish-status {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
}

.quiz-details {
  flex-grow: 1;
}

.availability-status {
  font-style: italic;
}

/* .quiz-context-menu {
  padding: 5px 10px;
  background-color: #e7e7e7;
  border-radius: 5px;
  cursor: pointer;
} */

a {
  text-decoration: none;
  color: inherit;
}
